@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

*{
  box-sizing:border-box;
  font-family: 'Space Mono', monospace;
}

body, html{
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
   background-image: linear-gradient(to right top, #a2beeb, #8ecfee, #8edde5, #a4e7d5, #c7eec7);
  flex-direction: column;
  -webkit-flex-direction: column;
}
.title {
    margin-bottom: 30px;
    color: #162969;
}


.card{
  display: none;
width: 350px;
height: 210px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective:600px;
  
}

.card__part{
  box-shadow: 1px 1px #aaa3a3;
    top: 0;
  position: absolute;
z-index: 1000;
border: 1px solid rgb(124, 64, 121);
  left: 0;
  display: flex;
  flex-direction: row;
    width: 350px;
    height: 210px;
    background-image: url('https://media.istockphoto.com/photos/pastel-colored-holographic-background-picture-id1144959743?k=20&m=1144959743&s=170667a&w=0&h=a9HwsJhxHPb21T4EgHB1IFlRERsbq65jb0Blv6N_nj4='), linear-gradient(to left bottom, #faaadf, #f7a0e4, #fd99df, #f597d1, #f178d7); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
    background-repeat: no-repeat;
    background-blend-mode:soft-light;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
   
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.card__front{
  padding-bottom: 18px;
  padding-left: 18px;
-webkit-transform: rotateY(0);
-moz-transform: rotateY(0);
}

.card__back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 1px 2px 10px;

-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
}

table{
  width: 100%;
}

table, th, td {
  border: 1px solid rgb(114, 114, 114);
  border-collapse: collapse;
  padding: 2px;
}


.card__logo {
    height: 16px;
}

.card__front-logo{
      position: absolute;
    top: 18px;
    right: 18px;
}


.card__square {
    border-radius: 5px;
    height: 70px;
    filter: saturate(50%);
}



.card__back-logo {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card__back-square {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.card:hover .card__front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);

}

.card:hover .card__back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}



#bold_id{
  font-weight: bold;
}

#small_desc{
  font-size: 10px;
}
.right_column{
  padding-left: 15px;
}

.right_column > * {
  font-size: 11px;
  margin: 5px;
  text-transform:uppercase;
}

.smaller_text{
  font-size: 10px;
}

.left_column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}


/*This is coded CSS rainbow*/

#github_logo_card {
  font-size: 60px;
  position: absolute;
  top: 5px;
  right: 25px;
-webkit-animation:rainbow 3s infinite;
-ms-animation:rainbow 3s infinite;
-o-animation:rainbow 3s infinite;
animation:rainbow 3s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ffffff;}
10% {color: #ffffff;}
20% {color: #ffffff;}
30% {color: #ffffff;}
40% {color: #e6fbff;}
50% {color: #ffffff;}
60% {color: #ffffff;}
70% {color: #ffffff;}
80% {color: #ffffff;}
90% {color: #fffbc2;}
100% {color: #ffffff;}
}
@-ms-keyframes rainbow {
0% {color: #ffffff;}
10% {color: #ffffff;}
20% {color: #ffffff;}
30% {color: #ffffff;}
40% {color: #ffffff;}
50% {color: #e6fbff;}
60% {color: #ffffff;}
70% {color: #ffffff;}
80% {color: #ffffff;}
90% {color: #fffbc2;}
100% {color: #ffffff;}
}
@-o-keyframes rainbow {
0% {color: #ffffff;}
10% {color: #ffffff;}
20% {color: #ffffff;}
30% {color: #ffffff;}
40% {color: #ffffff;}
50% {color: #e6fbff;}
60% {color: #ffffff;}
70% {color: #ffffff;}
80% {color: #ffffff;}
90% {color: #fffbc2;}
100% {color: #ffffff;}
}
@keyframes rainbow {
0% {color: #ffffff;}
10% {color: #ffffff;}
20% {color: #ffffff;}
30% {color: #ffffff;}
40% {color: #ffffff;}
50% {color: #e6fbff;}
60% {color: #ffffff;}
70% {color: #ffffff;}
80% {color: #ffffff;}
90% {color: #fffbc2;}
100% {color: #ffffff;}
}

.card_back_info{
  width: 80%;
  margin-left: 10px;
}

ol li{
  list-style-position: outside;
  margin-left: 15px;
}

#font_ol{
  padding: 0;
}



.card_back_descriptors{
  width: 100%;
}

.card_back_info > * {
  font-size: 10px;
  margin: 2px;
  padding: 2px
}

.card_back_descriptors > * {
  font-size: 8px;
  padding: 10px 10px 0px 10px;
  text-transform:uppercase;
}

.card_front_wrapper{
  display: flex;
  flex-direction: column;
}

.card_front_content{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

h4{
  margin: 10px 0 0 0;
  padding: 0;
  letter-spacing: 1px;
  color: rgb(32, 32, 32);
}

#name_input{
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#trigger-btn{
  width: 100px;
}

h5{
  position: absolute;
  bottom: 5px;
  margin: 0;
  left: 5;
  text-transform: uppercase;
  font-weight: 100;
  color: rgb(44, 44, 44);
  letter-spacing: 3px;
}
